<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/icon.png">
    <title>キャラビューcharaview.com--キャラビューで好きなキャラクターを探しましょう</title>
</head>
<body>
<div id="index">
    <a-layout>
        <a-layout-header>
            <a-row type="flex" justify="space-between">
                <a-col :span="20">
                    <img class="logo" src="./img/logo.png" alt="ホームページ">
                </a-col>
                <a-col :span="4" class="text-center">
                    <a v-if="isLogin" href="account.html">
                        <a-avatar src="./img/icon.png"/>
                    </a>
                    <a v-else href="login.html">
                        <a-button type="link">
                            ログイン
                        </a-button>
                    </a>
                </a-col>
            </a-row>
        </a-layout-header>
        <a-layout-content>
            <a-row type="flex" justify="center" style="margin: 0 10px 2px 0">
                <a-col :xs="22" :sm="22" :md="12" :lg="11" :xl="11">
                    <a-input-search placeholder="キャラクタ名" size="large"/>
                </a-col>
            </a-row>
            <a-row type="flex" justify="end" style="margin: 0 10px 10px 0">
                <a-col :xs="6" :sm="5" :md="4" :lg="3" :xl="2" class="text-right">
                    <a-switch checked-children="一番くじ" un-checked-children="普通商品" />
                </a-col>
            </a-row>
            <a-row type="flex" justify="space-between">
                <a-col :xs="12" :sm="12" :md="6" :lg="6" :xl="6" v-for="goods in goodsList" :key="goods.id">
                    <a :href="`goods.html?gid=${goods.id}`">
                        <a-card class="goods-card" v-bind:class="{'lottery-card': goods.lottery}">
                            <img
                                    slot="cover"
                                    :alt="goods.name"
                                    :src="goods.img"
                            />
                            <a-card-meta :title="goods.name">
                                <template slot="description">
                                    {{goods.desc}}
                                </template>
                            </a-card-meta>
                        </a-card>
                    </a>
                </a-col>
            </a-row>
        </a-layout-content>
        <a-layout-footer class="text-center" style="height: 50px;line-height: 50px">&copy;Character View Company
        </a-layout-footer>
    </a-layout>
    <a-back-top />
</div>
</body>
<script src="./js/vue.js"></script>
<script src="./js/antd.min.js"></script>
<link rel="stylesheet" href="./css/antd.min.css">
<link rel="stylesheet" href="./css/common.css">
<script>
    new Vue({
        el: '#index',
        data: {
            message: '123',
            isLogin: true,
            goodsList: [{
                id: 1,
                lottery: 1,
                name: 'アーニャ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10077/996f8b38-ee71-4135-bf63-5c9fe6995d03.jpg'
            }, {
                id: 2,
                lottery: 1,
                name: 'ディズニー姫',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10070/8de46475-2682-4e82-a514-35c8dc4ad851.jpg'
            }, {
                id: 3,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10062/f196c88e-4e2b-49cf-8caa-db4e4be96555.jpg'
            }, {
                id: 4,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10112/736af658-4500-43b9-bd8c-216347615ee7.jpg'
            }, {
                id: 5,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10072/b42a087b-168e-4b7a-a306-188c74e4508b.jpg'
            }, {
                id: 6,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/3841/e2cb3a08-3ee6-4260-aa26-b52ffc7625b9.jpg'
            }, {
                id: 7,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10066/7ef5b95a-8151-4a20-a5fc-5f012f4f7554.jpg'
            }, {
                id: 8,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10142/6fec48d4-a042-454a-9fa7-93f84f34501b.jpg'
            }, {
                id: 5,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10072/b42a087b-168e-4b7a-a306-188c74e4508b.jpg'
            }, {
                id: 6,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/3841/e2cb3a08-3ee6-4260-aa26-b52ffc7625b9.jpg'
            }, {
                id: 7,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10066/7ef5b95a-8151-4a20-a5fc-5f012f4f7554.jpg'
            }, {
                id: 8,
                name: 'アーニャぬいぐるみ',
                desc: 'とても可愛いアーニャさん',
                img: 'https://1kuji.com/uploads/product/image/10142/6fec48d4-a042-454a-9fa7-93f84f34501b.jpg'
            }]
        }
    });
</script>
</html>